{% extends 'layout.html' %}
{% block title %} Results {%endblock%}
{% block tt %}Search Results{%endblock%}
{%block body%}
    <div class="row row-cols-1 row-cols-md-3">
    {% for book in books %}
    <div class="col mb-4">
        <div class="card h-100"">
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text">Author: <strong>{{book.author}}</strong><br>Year: <strong>{{book.year}}</strong></p>
                <a href="book/{{book.isbn}}" class="btn btn-primary">View Book</a>
            </div>
        </div>
    </div>
    {%endfor%}
    </div>
{%endblock%}