{% extends 'layout.html' %}
{% block title %} HomePage {% endblock %}
{%block body%}
<div class="card text-center">
    <div class="card-header">
      Search for a Book
    </div>
    <div class="card-body">
      <h5 class="card-title">ISBN / Author / Title</h5>
      <form action="{{url_for('search')}}", method="POST">
        <div class="form-group">
            <div class="input-group">
            <input type="text" aria-label="Search query" class="form-control" name="search">
            </div >
        </div>
        <button type="submit" class="btn btn-outline-primary btn-lg">Search</button>
        </form>
    </div>
    <div class="card-footer text-muted">
      Web App - Books
    </div>
</div>
{%endblock%}