{% extends 'layout.html' %}
{% block title %} Register {% endblock %}
{%block tt%} Create Account {%endblock%}
{% block body %}
<form action="{{url_for('register')}}" method="POST">
    <div class="form-group">
      <label for="input_user">User Name</label>
      <input type="text" class="form-control" name="username">
      <small class="form-text text-muted">Enter your username here</small>
    </div>
    <div class="form-group">
      <label for="input_password">Password</label>
      <input type="password" class="form-control" name="password">
      <small class="form-text text-muted">Provide your password here</small>
    </div>
    <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Submit</button>
</form>
{% endblock %}