{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/change" method="post" id="form" name="register" onsubmit="check()" class="needs-validation" novalidate>
        <div class="form-group">
            <input class="form-control" maxlength="10" name="password" placeholder="New password" type="password" onkeyup="check_password_validity()" required>
            <div id="passwordValid" class="valid-feedback"></div>
            <div id="passwordInvalid" class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <input class="form-control"  maxlength="10" name="confirmation" placeholder="Confirm password" type="password" onkeyup="check_passwords()" required >
            <div id="confirmationValid" class="valid-feedback">Passwords match</div>
            <div id="confirmationInvalid" class="invalid-feedback">Passwords don't match</div>
        </div>
       <button class="btn btn-primary" type="submit">Change password</button>

    </form>

<script>

// Resets the "username" form Bootstrap's validation for a quick color change
function username_resetColor(){
    document.forms["register"]["username"].classList.remove('is-valid');
    document.forms["register"]["username"].classList.remove('is-invalid');
}

// Resets the "password" form Bootstrap's validation for a quick color change
function password_resetColor(){
    document.forms["register"]["password"].classList.remove('is-valid');
    document.forms["register"]["password"].classList.remove('is-invalid');
}


// Resets the "confirmation" form Bootstrap's validation for a quick color change
function confirmation_resetColor(){
    document.forms["register"]["confirmation"].classList.remove('is-valid');
    document.forms["register"]["confirmation"].classList.remove('is-invalid');
}


// Checks if password meets all the requirements (a number, an uppercase, a lowercase and at least a length of 4 characters)
function check_password_validity(){

    password_resetColor();

    var password = document.forms["register"]["password"].value;
    var passwordInvalid = document.getElementById("passwordInvalid");
    var passwordValid = document.getElementById("passwordValid");
    var numre = /[0-9]/;
    var upre = /[A-Z]/;
    var lowre = /[a-z]/;

    if (password.length > 0){
        if (password.length < 4 ){
            passwordInvalid.innerHTML = "Password must be at least 4 characters long";
            document.forms["register"]["password"].classList.add('is-invalid');
            return false;
        }

        else if (!numre.test(password)){
            passwordInvalid.innerHTML = "Password must contain at least a number";
            document.forms["register"]["password"].classList.add('is-invalid');
            return false;
        }

        else if(!upre.test(password)){
            passwordInvalid.innerHTML = "Password must contain at least an uppercase letter";
            document.forms["register"]["password"].classList.add('is-invalid');
            return false;
        }

        else if (!lowre.test(password)){
            passwordInvalid.innerHTML = "Password must contain at least an lowercase letter";
            document.forms["register"]["password"].classList.add('is-invalid');
            return false;
        }
        else
            passwordValid.innerHTML = "Password looks good";
            document.forms["register"]["password"].classList.add('is-valid');
            return true;
    }
    else{
        return false;
    }
}

// Check whether both "password" and "confirmation" forms are equal and returns true if they are, else returns fale. It also changes the color
// according to Bootstrap's form validation
function check_passwords(){

    confirmation_resetColor();

    var password = document.forms["register"]["password"].value;
    var confirmation = document.forms["register"]["confirmation"].value;

    if (password == confirmation && password != ""){
        document.forms["register"]["confirmation"].classList.add('is-valid');
        return true;
    }
    else if(password == confirmation && password == ""){
        return false;
    }
    else if(password != confirmation){
        document.forms["register"]["confirmation"].classList.add('is-invalid');
        return false;
    }
}


// On form submission, cancels it submission, checks if all the inputs are correct, and then submits it.
function check(){

    event.preventDefault();

    if(!check_passwords()){
        alert("passwords dont match");
        event.preventDefault();
    }
    else if(!check_password_validity()){
        alert("passwords format incorrect");
        event.preventDefault();
    }
    else if (check_passwords() && check_password_validity()){
        document.getElementById("form").submit();
        }
}


</script>

{% endblock %}