{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol">

            {% for elements in stocks_avaliable %}
            <option value="{{ elements.get("symbol") }}">{{ elements.get("symbol") }}</option>
            {% endfor %}

            </select>
         </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of shares" type="text">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}